* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', Arial, monospace;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 1200px) {
  p {
    font-size: 13px;
  }

  a, h5 {
    font-size: 12px;
  }

  h1 {
    font-size: 42px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1500px) {
  p {
    font-size: 16px;
  }

  a, h5 {
    font-size: 15px;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1900px) {
  p {
    font-size: 22px;
  }

  a, h5 {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 27px;
  }
}