header {
  background-color: #1E1E1E;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  display: flex;
  width: 70%;
  padding: 1% 0;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#header-logo {
  width: 7%;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.header-cities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.margin-top {
  margin-top: 5%;
}

.header-search {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 50%;
  margin-left: 5%;
}

#header-search-input {
  background-color: #474747;
  width: 80%;
  height: 25px;
  color: #989898;
  padding-left: 3%;
  border: 1px solid #6A6A6A;
  outline: none;
  appearance: none;
}

#header-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
  border: 1px solid #6A6A6A;
  border-left: none;
  background: #474747;
  box-sizing: border-box;
}

.header-personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
}

#header-login, #header-reg {
  font-family: 'Open Sans';
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

@media screen and (min-width: 1500px) {
  #header-search-input {
    height: 30px;
  }

  #header-search-button {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 2200px) {
  #header-search-input {
    height: 35px;
  }

  #header-search-button {
    width: 37px;
    height: 37px;
  }
}

@media screen and (min-width: 3000px) {
  #header-search-input {
    height: 40px;
  }

  #header-search-button {
    width: 42px;
    height: 42px;
  }
}